.red {
color: #DF0101;
}

.orange {
color: #DF7401;
}

.yellow {
color: #D7DF01;
}

.green {
color: #31B404;
}

.lime {
color: #00FF44;
}
.blue {
color: #0431B4;
}

.purple {
color: #8A0886;
}

.white {
  color: #ffffff;
}
