.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
