.fa {
  padding: 20px;
  font-size: 30px !important;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

.fa-caret-down {
  font-family: 'FontAwesome';
}
