* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.section {
  background-color: white;
  border: 3px solid #0174DF;
  padding: 10px;
}

.section:hover {
  border: 3px solid #31B404;
}
  
a {
  text-decoration: none;
  color: #0040FF;
}

.logo {
  float: right;
}
