* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-image: url("minecraft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.menu {
  float: right;
  font-size: 30px;
}

.section {
  background-color: green;
  border: 3px solid #0040FF;
  padding: 10px;
}
  
a {
  text-decoration: none;
  color: #0040FF;
}
