* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-image: url("minecraft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.top {
  float: right;
  font-size: 22px;
}

.seed {
  background-color: white;
  border: 3px solid green;
  padding: 10px;
}
  
a {
  text-decoration: none;
  color: blue;
}
