* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-image: url("minecraft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.top {
  float: right;
}

a {
  text-decoration: none;
  color: blue;
}
